/*
	todo
	-Display scroll bar on hover for main menu left
	-create a function that expands boxes (any boxes at all)
	-TOOLTIP
	-Do Compose Message box
*/


@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
	font-family: 'Work Sans';
	font-size: 1em;
	letter-spacing: 0;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none;
}

/* Top nav bar */
#top-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 780px;
	height: 70px;
	background-color: white;
	border-bottom: solid 1px lightgrey;
	z-index: 5;
}
#top-nav-bar i {
	font-size: 1.5em;
	color: #F9B478;
}

#top-nav-bar #search-bar {
	position: absolute;
	width: 45%;
	left: 208px;
}
#top-nav-bar #search-bar i {
	color: dimgrey;
}

@media only screen and (max-width: 920px) {
	#top-nav-bar #search-bar {
		width: 30%;
	}
}

#top-nav-bar #main-menu-expander {
	position: absolute;
	left: 0;
}

#top-nav-bar #mail-logo {
	position: relative;
	display: block;
	top: 35%;
	margin-left: 55px;
}

#top-nav-bar #search-bar input {
	width: 100%;
	padding: 15px 15px 15px 45px;
	border-radius: 10px;
	border: none;
	font-size: .9em;
	margin: 10px 30px;
	background-color: #f1f1f1;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s
}
#top-nav-bar #search-bar input:focus {
	outline: none;
	background-color: white;
	box-shadow: 1px 1px 2px 1px lightgrey;
	border: 1px solid lightgrey;
}
#top-nav-bar #search-bar .search-icon {
	display: inline-block;
	position: absolute;
	top: 40%;
	left: 45px;
	font-size: .7em;
}

#top-nav-bar #apps-expander {
	position: absolute;
	right: 155px;
}

/* Apps Box */
#apps-box {
	display: none;
	position: fixed;
	background-color: white;
	top: 71px;
	right: 0;
	width: 300px;
	height: 500px;
	z-index: 6;
	flex-direction: row;
	overflow-y: scroll;
	border-radius: 4px;
	padding: 20px 15px 0 25px;
	box-shadow: 0 1.8px 3.5px 2px lightgrey;
	text-align: left;
	font-size: .81em;
}
#apps-box hr {
	margin-bottom: 30px;
}
#apps-box a {
	display: inline-block;
	text-decoration: none;
	color: dimgrey;
	width: 30%;
	text-align:center;
	margin: 10px 5px 20px 0;
	padding-top: 10px;
	padding-bottom: 5px;
}
#apps-box a:hover {
	color: lightslategray;
	box-sizing: content-box;
	box-shadow: 0 1px 2px 0 lightgrey;
}
#apps-box i {
	font-size: 3em;
}
#apps-box a .item-name {
	display: block;
	font-size: .8em;
	margin-top: 10px;
}

#top-nav-bar #notification {
	position: absolute;
	right: 105px;
}
#top-nav-bar #user-setting {
	position: absolute;
	height: 33%;
	top: 22%;
	right: 17px;
	width: 60px;
	border: 1.5px solid orange;
	background-color: white;
	border-radius: 10px;
	padding: 5px;
}

#top-nav-bar .nav-icon {
	top: 17%;
	margin-left: 10px;
	border-radius: 50%;
	cursor: pointer;
	padding: 10px;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s
}
#top-nav-bar .nav-icon:hover {
	background-color: lightgrey;
}
#top-nav-bar .nav-icon:hover i {
	color: white;
}

/* Main menu left */
#main-menu-left {
	display: flex;
	position: fixed;
	height: 100%;
	left: 0;
	top: 71px;
	padding-top: 30px;
	color: dimgrey;
	transition: width .5s;
	overflow-x: hidden;
	background-color: white;
	z-index: 3;
	text-align: left;
}
#main-menu-left::-webkit-scrollbar {
	display: none;
}
#main-menu-left.unexpanded {
	width: 65px;
	flex-direction: column;
	align-items: flex-start;
}
#main-menu-left.expanded {
	position: fixed;
	left: 0;
	width: 230px;
	text-align: left;
	overflow-x: none;
}
#main-menu-left.hover-expand {
	width: 230px;
	box-shadow: 2px 0px 2px 1px lightgrey;
}
#main-menu-left.hover-expand #add-icon {
	margin-right: 15px;
}

#main-menu-left .icon {
	position: absolute;
	left: 17.5px;
}

#main-menu-left .item-name {
	position: absolute;
	font-size: 1.25em;
	left: 75px;
}

#main-menu-left i {
	font-size: 1.9em;
}
#main-menu-left i:hover {
	transform: scale(1.1,1.1);
}

#main-menu-left #menu-list {
	position: absolute;
	height: 180px;
	width: 100%;
	max-width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 90px;
	font-size: .6em;
}

#main-menu-left #compose-button {
	width: 100%;
	margin: 0 0 30px inherit;
	height: 50px;
	padding-top: 8px;
}
#main-menu-left #compose-button .item-name {
	padding-top: 3px;
}
#main-menu-left.expanded #compose-button {
	text-align: left;
	width: 90%;
}

#main-menu-left .icon-container {
	left: 10px;
	height: 30px;
	width: 90%;
	margin-left: 5px;
	padding-top: 5px;
	box-sizing: border-box;
	margin-bottom: 3px;
}

#main-menu-left.unexpanded .icon-container {
	width: 56%;
	margin-left: 10px;
	text-align: center;
}
#main-menu-left .icon-container.selected, .icon-container:hover {
	background-color: gainsboro;
	border-radius: 50%;
	padding-bottom: 15px;
	cursor: pointer;
}
#main-menu-left.unexpanded #compose-button.icon-container {
	width: 80%;
}
#main-menu-left.expanded .icon-container {
	border-radius: 0 25px 25px 0;
	text-align: left;
	width: 85%;
	margin-left: 0;
}

#main-menu-left.hover-expand .icon-container{
	text-align: left;
	width: 85%;
	margin-left: 0;
	border-radius: 0 25px 25px 0;
}
#main-menu-left.hover-expand #compose-button.icon-container {
	width: 90%;
}

#main-menu-left #chat {
	display: fixed;
	position: absolute;
	top: 285px;
	width: 100%;
	min-height: 100px;
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	box-shadow: 1px 1.5px 1px 0 lightgrey inset;
}
#chat .icon-container:hover {
	background: none;
}
#main-menu-left #chat .icon {
	font-size: .9em;
}
#main-menu-left #chat #add-icon {
	position: absolute;
	font-size: .5em;
	top: 20px;
	right: 0;
}

#main-menu-left.unexpanded #options {
	display: none;
}
#main-menu-left.expanded #options {
	position: absolute;
	bottom: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: center;
	font-size: .5em;
	border-top: 1px solid lightgrey;
}

@media only screen and (max-height: 450px) {
	#main-menu-left.expanded #options {
		display: none;
	}
}

#main-menu-left.expanded #options .small-icons {
	padding: 5px 10px;
	border-left: .5px solid lightgrey;
	border-right: .5px solid lightgrey;
}
#main-menu-left.expanded #options .small-icons.selected {
	background-color: gainsboro;
	box-shadow: 1px 1px 1px 1px silver inset;
}
#main-menu-left.expanded #options .small-icons:hover {
	cursor: pointer;
}


/* styling for scrollbar on main menu list left */
#main-menu-left #menu-list::-webkit-scrollbar {
	display: none;
}
#main-menu-left #menu-list:hover::-webkit-scrollbar {
	display: block;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	width: 5px;
	height: 10px;
	background-color: silver;
	border-radius: 8px;
}
::-webkit-scrollbar-track {
	background-color: none;
}

/* Emails */
#main-content #mails::-webkit-scrollbar {
	display: none;
}
#main-content {
	position: absolute;
	left: 65px;
	top: 70px;
	height: calc(100% - 70px);
	box-sizing: border-box;
	padding: 7.5px;
	right: 60px;
	transition: left .5s;
	z-index: 2;
}

#main-content.shrink {
	left: 230px;
}
#main-content.shrink #top-toolbar {
	left: 238px;
	right: 60px;
}

#main-content.expand-right {
	right: 0;
}
#main-content.expand-right #top-toolbar {
	right: 0;
}

#main-content #top-toolbar {
	display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 70px;
  padding: 10px 10px 10px 15px;
  height: 30px;
  border-bottom: 1px solid lightgrey;
	box-shadow: 0 3px 1px -1px lightgrey;
  background-color: white;
  right: 60px;
  left: 72px;
  min-width: 405px;
  z-index: 3;
	transition: left .5s;
}

#main-content #top-toolbar .two-icons {
	display: flex;
	flex-direction: row;
	margin: 0 5px;
}
#main-content #top-toolbar .icon:hover {
	cursor: pointer;
	background-color: gainsboro;
	border-radius: 10%;
}
#main-content #top-toolbar .circle-icon {
	width: 35px;
	text-align: center;
}
#main-content #top-toolbar .circle-icon:hover {
	cursor: pointer;
	background-color: gainsboro;
	border-radius: 50%;
}
#main-content #top-toolbar i {
	font-size: 1em;
	padding: 2.5px;
	line-height: 2;
}

#main-content #top-toolbar .right, #main-content #top-toolbar .left {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}
#main-content #top-toolbar .left {
	justify-content: flex-end;
}

#main-content #top-toolbar #page-total {
	font-size: .9em;
}

#main-content #top-toolbar .icon, #main-content #top-toolbar .circle-icon {
	margin: 0 15px;
}
#main-content #top-toolbar .two-icons .icon {
	margin: 0;
}

#mails #archive-mails, #favourite-mails, #sent-mails, #draft-mails, #custom1-mails, #custom2-mails {
	display: none;
}

#main-content #mails {
	display: flex;
	flex-direction: column;
	margin-top: 43px;
	overflow-y: scroll;
}
#main-content #mails .email {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	font-size: .9em;
	height: 40px;
	cursor: pointer;
	min-width: 405px;
	padding-left: 3.5px;
}
#main-content #mails .email:hover {
	border-right: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	box-shadow: 0 1px 1px 0 lightgrey;
}
#main-content #mails .email span {
	position:relative;
}

#main-content #mails .email .select, .fav {
	left: 20px;
	margin: 0 15px 0 -2px;
	font-size: 1.1em;
	opacity: .4;
	color:black
}
#main-content #mails .email.favourited .fav {
	color: rgb(202, 115, 0);
}
#main-content #mails .email .select.visible, .fav.visible {
	opacity: .8;
}

#main-content #mails .sender {
	padding-left: 15px;
	min-width: 125px;
	font-weight: bold;
}

#main-content #mails .email .drag-area {
	display: none;
	flex-direction: row;
	margin-right: 15px;
}
#main-content #mails .email .drag-area.visible {
	display: flex;
	position: absolute;
}
#main-content #mails .email .drag-area i {
	font-size: .9em;
	display: inline-block;
	opacity: .2;
}
#main-content #mails .email .drag-area:hover {
	cursor: grab;
}

#main-content #mails .email .subject-preview {
	transition: width 1.5s;
}
#main-content #mails .email .subject-preview .subject {
	font-weight: bold;
	font-size: .9em;
}
#main-content #mails .email .subject-preview .content {
	font-size: .85em;
}

@media screen and (min-width:700px) {
	#main-content #mails .email .subject-preview {
		display: inline-block;
		white-space: nowrap;
		overflow-x: hidden;
		width: 60%;
	}
}

@media screen and (min-width:950px) {
	#main-content #mails .email .subject-preview {
		display: inline-block;
		white-space: nowrap;
		overflow-x: hidden;
		width: 75%;
	}
}

#main-content #mails .email .date {
	position: absolute;
	background-color: white;
	right: 0;
	height: 25px;
	box-sizing: border-box;
	margin-top: 4px;
	padding-right: 12px;
	padding-left: 10px;
	margin-right: 10px;
}

#main-content #mails .email .tools {
	position: absolute;
	right: 0;
	flex-direction: row;
	display: none;
	background-color: white;
	color: dimgrey;
	height: 30px;
	margin-right: 8px;
}
#main-content #mails .email .tools.visible .circle-icon {
	margin: 0 10px;
	align-self: center;
}
#main-content #mails .email .tools.visible {
	display: flex;
}

@media screen and (max-width: 700px) {
	#main-content {
		width: 90%;
		min-width: 500px;
		overflow-x: hidden;
		background-color: white;
	}

	#main-content #top-toolbar {
		min-width: 500px;
		width: 85%;
	}

	#main-content #mails {
		min-width: 500px;
	}
	#main-content #mails .email {
		height: 75px;
		display: flex;
		flex-direction:row;
		align-items: flex-start;
	}

	#main-content #mails .email span.dash {
		display: none;
	}

	#main-content #mails .email .fav {
		position: absolute;
		right: 10px;
		margin-top: 50px;
		text-align: right;
	}
	#main-content #mails .email .drag-area {
		margin-top: 11px;
	}
	#main-content #mails .email .select {
		margin-top: 7px;
	}
	#main-content #mails .email .sender {
		font-weight: bold;
		margin-top: 7.5px;
	}
	#main-content #mails .email .subject-preview {
		position: absolute;
		min-width: 80%;
		max-width: 610px;
		margin-top: 23px;
		left: 54px;
		white-space: normal;
		height: 50.5px;
		max-height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	#main-content #mails .email .subject-preview .content {
		margin-right: 60px;
	}

	#main-content #mails .email .date {
		position: absolute;
		margin-top: 7px;
		height:20px;
	}

	#main-content #mails .email .tools {
		position: absolute;
		right: 5px;
		margin-top: 7px;
		height:20px;
	}
}
/* Right nav bar */
#right-nav-bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 60px;
	top: 70px;
	right: 0;
	border-left: 1px solid lightgrey;
	background-color: white;
	z-index: 4;
}
#right-nav-bar hr {
	width: 65%;
	margin: 30px 0;
}
#right-nav-bar div {
	margin: 20px 0 10px 0;
	cursor: pointer;
}
#right-nav-bar .icon {
	border-radius: 50%;
	padding: 7px;
	width: 30%;
	text-align: center;
}
#right-nav-bar .icon:hover {
	background-color: #79a6d2;
	color: white;
}
#right-nav-bar.hide {
	display: none;
}

#right-panel-toggle {
	color: dimgrey;
	position: fixed;
	bottom: 20px;
	right: 0;
	z-index: 5;
	cursor: pointer;
	width: 60px;
		transition: all .3s cubic-bezier(0.4, 0, 0.2, 1)
}
#right-panel-toggle .wrapper-1 {
	position:relative;
	background-color: lightgrey;
	border-radius: 50%;
	text-align: center;
	padding: 10px 15px;
	width: 15%;
	margin-left: 14px;
}
#right-panel-toggle i {
	transition: all .3s;
}
#right-panel-toggle.half .wrapper-1 {
	border-radius: 23px 0 0 23px;
  text-align: left;
	padding-right: 30px;
	margin-left: 25px;
	box-shadow: 0 2px 2px 0 silver;
}
#right-panel-toggle.half .wrapper-1:hover {
	margin-left: 14px;
}
#right-panel-toggle.half i {
	transform: rotate(180deg);
}

@media screen and (max-width: 700px) {
	#right-nav-bar {
		display: none;
	}
	#right-panel-toggle {
		display: none;
	}
}

/* Dialogue boxes */
.dialogue-box {
	display: none;
	position: absolute;
	flex-direction: column;
	padding: 10px 0;
	align-items: stretch;
	border-radius: 2px;
	font-size: .85em;
	background-color: white;
	box-shadow: 0px 3px 8px 1px lightgrey;
	top: 40px;
}
.dialogue-box.show {
	display: flex;
}
.dialogue-box div {
	padding: 8px 35px;
	text-align: left;
	min-width: 80px;
}
.dialogue-box hr {
	margin: 0;
	margin-bottom: -1px;
}
.dialogue-box div:hover {
	background-color:lightgrey;
	cursor: pointer;
}

/* Individual dialogue styling */
#top-nav-dropdown-check + .dialogue-box {

}

#mark-all-as-read + .dialogue-box {
	left: 110px;
}
#mark-all-as-read + .dialogue-box div:last-child {
	border-top: 1px solid silver;
}

#keyboard-settings + .dialogue-box {
	right: 30px
}
#keyboard-settings + .dialogue-box div:last-child {
	border-top: 1px solid silver;
}

#mel-settings + .dialogue-box {
	right: 15px;
}
#mel-settings + .dialogue-box div {
	border-bottom: 1px solid silver;
	width: 110px;
}
#mel-settings + .dialogue-box div:last-child {
	border-bottom: none;
}

#compose-email-area {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 4;
	padding-right: 64px;
	box-sizing: border-box;
}
#compose-email-area .compose-box {
	width: 450px;
	background-color: white;
	bottom: 0;
	z-index: 8;
	/* border: 0px solid transparent; */
	box-shadow: -1px 2px 10px 3px #6f380885;
	border-radius: 7px 7px 0 0;
	margin: 0 3px;
}
#compose-email-area .compose-box.minimized {
	/* THIS IS FOR MINIMIZED WINDOW */
	width:230px;
	height: 34px;
}
#compose-email-area .compose-box.hidden {
	display: none;
}

#compose-email-area .header {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  color: white;
  background-color: #a77748;
  border-radius: 7px 7px 0 0;
  padding: 0 10px;
  font-size: .95em;
}
#compose-email-area .header:hover {
	cursor: pointer;
}
#compose-email-area .header .title {
	letter-spacing: -.25px;
}
#compose-email-area .header .window-control {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 70px;
	height: 100%;
}
#compose-email-area .header .window-control {
	font-size: .85em;
}
#compose-email-area .header .window-control i.fa-arrows-alt-v {
	transform: rotate(45deg);
}
#compose-email-area .header .window-control i {
	line-height: 1.5;
}

#compose-email-area .input-area {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
#compose-email-area .input-area input {
	box-sizing: content-box;
	width: 95%;
	height: 30px;
	border: 0;
	border-bottom: 1px solid lightgrey;
	margin: 0 10px;
  padding-left: 3px;
	font-size: .9em;
}
#compose-email-area .input-area input:focus {
	outline: none;
}
#compose-email-area .input-area textarea {
	resize: none;
  border: 0;
  width: 95%;
  height: 225px;
  margin: 0 10px;
}

#compose-email-area .toolbar {
	height: 50px;
	display: flex;
	padding: 0 5px;
	align-items: center;
}

#compose-email-area .toolbar button {
	font-size: .9em;
	background-color: rosybrown;
	border: 0;
	border-radius: 7px;
	height: 50%;
	padding: 5px 25px;
	box-sizing: content-box;
	cursor: pointer;
	margin-left: 10px;
  color: white;
  font-weight: bold;
}
#compose-email-area .toolbar .icon {
	width: 25px;
  font-size: 1.1em;
  margin-left: 10px;
  color: dimgrey;
	cursor: pointer;
	text-align:center;
}
#compose-email-area .toolbar .icon:hover {
	line-height:1.75;
	background-color: rosybrown;
	color: white;
	border-radius: 3px;
}
#compose-email-area .toolbar .icon.googerdrive {
  text-align: left;
  flex: 2;
  padding: 0 5px 0 5px;
  margin-right: 63px;
}
#compose-email-area .toolbar .icon i{

}
